
body{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
background-image: url(Evenement-1.jpg);
}
*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.menu-bar{
    background: rgba(92, 127, 148, 0.973);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(10, 2, 2);
}
.active,.menu-bar ul li:hover{
    background: #7f81ec;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #a9aaf0;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}


.sub-menu-2{
    display: none;
}
.menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: #a9aaf0;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

